In [1]:
import pandas as pd

In [13]:
# data = pd.read_csv("../8_1.csv")
# data_2 = pd.read_csv("../8_2.csv")
# data_3 = pd.read_csv("../8_3.csv")
# data_4 = pd.read_csv("../8_4.csv")
# data_5 = pd.read_csv("../8_5.csv")
# data_6 = pd.read_csv("../8_6.csv")
# #data_7 = pd.read_csv('../8_7.csv')
# data_7 = pd.read_csv("../연령.csv")
data = pd.read_csv("final_merged_df.csv")
data2 = pd.read_csv("../신용.csv")
data3 = pd.read_csv("../이용금액.csv")

In [14]:
data = pd.merge(data, data2, on = '발급회원번호', how='inner')

In [16]:
data = pd.merge(data, data3, on='발급회원번호', how='inner')

In [ ]:
# merged_df = pd.merge(data, data_2 ,on='발급회원번호', how= 'inner')

In [ ]:
# merged_df2 = pd.merge(merged_df, data_3, on='발급회원번호', how = 'inner')

In [ ]:
# merged_df3 = pd.merge(merged_df2, data_4, on='발급회원번호', how= 'inner')

In [ ]:
# merged_df4 = pd.merge(merged_df3, data_5, on='발급회원번호', how ='inner')

In [ ]:
# merged_df5 = pd.merge(merged_df4 , data_6, on='발급회원번호', how= 'inner')

In [ ]:
# merged_df6 = pd.merge(merged_df5, data_7, on='발급회원번호', how='inner')

In [ ]:
# def preprocessing_data(data):
#     data['이용건수_B0M'] = data[['이용건수_일시불_B0M','이용건수_체크_B0M','이용건수_할부_B0M']].sum(axis=1)
#     data['이용금액_B0M'] = data[['이용금액_일시불_B0M','이용금액_체크_B0M','이용금액_할부_B0M']].sum(axis=1)
#     data['최종이용일자'] = data[['최종이용일자_일시불','최종이용일자_체크','최종이용일자_할부']].max(axis=1)
#     data['이용후경과월'] = data[['이용후경과월_일시불','이용후경과월_체크','이용후경과월_할부']].sum(axis=1)
#     data['이용건수_R12M'] = data[['이용건수_일시불_R12M','이용건수_체크_R12M','이용건수_할부_R12M']].sum(axis=1)
#     data['이용금액_R12M'] = data[['이용금액_일시불_R12M','이용금액_체크_R12M','이용금액_할부_R12M']].sum(axis=1)
#     data['최대이용금액_R12M'] = data[['최대이용금액_일시불_R12M','최대이용금액_체크_R12M','최대이용금액_할부_R12M']].sum(axis=1)
#     data['이용개월수_R12M'] = data[['이용개월수_일시불_R12M','이용개월수_체크_R12M','이용개월수_할부_R12M']].sum(axis=1)
#     data['이용건수_R6M'] = data[['이용건수_일시불_R6M','이용건수_체크_R6M','이용건수_할부_R6M']].sum(axis=1)
#     data['이용금액_R6M'] = data[['이용금액_일시불_R6M','이용금액_체크_R6M','이용금액_할부_R6M']].sum(axis=1)
#     data['이용개월수_R6M'] = data[['이용개월수_일시불_R6M','이용개월수_체크_R6M','이용개월수_할부_R6M']].sum(axis=1)
#     data['이용건수_R3M'] = data[['이용건수_일시불_R3M','이용건수_체크_R3M','이용건수_할부_R3M']].sum(axis=1)
#     data['이용금액_R3M'] = data[['이용금액_일시불_R3M','이용금액_체크_R3M','이용금액_할부_R3M']].sum(axis=1)
#     data['이용개월수_R3M'] = data[['이용개월수_일시불_R3M','이용개월수_체크_R3M','이용개월수_할부_R3M']].sum(axis=1)
#     data['회원여부_이용가능'] = data[['회원여부_이용가능','회원여부_이용가능_CA','회원여부_이용가능_카드론']].sum(axis=1)
#     data['유효카드수'] = data[['유효카드수_신용체크','유효카드수_신용','유효카드수_체크']].sum(axis=1)
#     data['이용금액_증감률'] = (data['이용금액_R3M'] - data['이용금액_R6M']) / (data['이용금액_R6M'] + 1)
#     data['최근_이용금액_비중'] = data['이용금액_B0M'] / (data['이용금액_R12M'] + 1)
#     # data['활동성_R12M'] = data['이용금액_R12M'] / (data['이용개월수_R12M'] + 1)
#     # data['활동성_R3M'] = data['이용금액_R3M'] / (data['이용개월수_R3M'] + 1)
#     data['VIP등급코드'] = data['VIP등급코드'].str.replace("_","0").astype(int)
#     data['이용금액대'] = data['이용금액대'].str.extract(r'^(\d+)').astype(int)
#     data['연령'] = data['연령'].str.replace("대|이상","",regex=True).astype(int)
#     cols_to_drop = [
#     # B0M
#     '이용건수_일시불_B0M', '이용건수_체크_B0M', '이용건수_할부_B0M',
#     '이용금액_일시불_B0M', '이용금액_체크_B0M', '이용금액_할부_B0M',
    
#     # 최종 이용일자
#     '최종이용일자_일시불', '최종이용일자_체크', '최종이용일자_할부',
#     '이용후경과월_일시불', '이용후경과월_체크', '이용후경과월_할부',
    
#     # R12M
#     '이용건수_일시불_R12M', '이용건수_체크_R12M', '이용건수_할부_R12M',
#     '이용금액_일시불_R12M', '이용금액_체크_R12M', '이용금액_할부_R12M',
#     '최대이용금액_일시불_R12M', '최대이용금액_체크_R12M', '최대이용금액_할부_R12M',
#     '이용개월수_일시불_R12M', '이용개월수_체크_R12M', '이용개월수_할부_R12M',
    
#     # R6M
#     '이용건수_일시불_R6M', '이용건수_체크_R6M', '이용건수_할부_R6M',
#     '이용금액_일시불_R6M', '이용금액_체크_R6M', '이용금액_할부_R6M',
#     '이용개월수_일시불_R6M', '이용개월수_체크_R6M', '이용개월수_할부_R6M',

#     # R3M
#     '이용건수_일시불_R3M', '이용건수_체크_R3M', '이용건수_할부_R3M',
#     '이용금액_일시불_R3M', '이용금액_체크_R3M', '이용금액_할부_R3M',
#     '이용개월수_일시불_R3M', '이용개월수_체크_R3M', '이용개월수_할부_R3M',

#     # 회원여부
#     '회원여부_이용가능', '회원여부_이용가능_CA', '회원여부_이용가능_카드론',

#     # 유효카드수
#     '유효카드수_신용체크', '유효카드수_신용', '유효카드수_체크',
#     #발급회원번호 제거
#     '발급회원번호',
#     # 파생변수 생성컬럼 제거
    

#     ]

#     data.drop(columns=cols_to_drop, inplace=True)

In [10]:
preprocessing_data(merged_df6)

In [9]:
da = pd.read_csv("../컬럼확인용.csv")

In [17]:
print(set(da.columns) - set(data.columns))
print(set(data.columns) - set(da.columns))

set()
set()

In [18]:
data.to_csv("backend_data.csv", index=False)

In [19]:
data

,발급회원번호,이용건수_일시불_B0M,이용건수_체크_B0M,이용건수_할부_B0M,이용금액_일시불_B0M,이용금액_체크_B0M,이용금액_할부_B0M,최종이용일자_일시불,최종이용일자_체크,최종이용일자_할부,...,회원여부_이용가능_CA,회원여부_이용가능_카드론,유효카드수_신용체크,유효카드수_신용,유효카드수_체크,연령,이용금액_R3M_신용,입회경과개월수_신용,이용금액_R3M_신용체크,이용금액_업종기준
0,SYN_858566,3,0,0,0,0,0,20180820,10101,20151205,...,1,1,1,1,0,60대,245624,67,245624,105846
1,SYN_2250434,7,0,0,328299,0,0,20180815,10101,20180714,...,1,1,1,1,0,40대,1385660,45,1385660,1395296
2,SYN_541274,2,0,0,191332,0,0,20180831,20180108,20151112,...,1,1,4,3,1,30대,778661,114,934207,655129
3,SYN_222767,3,0,0,273905,0,0,20180831,20180114,10101,...,1,1,2,1,1,40대,738318,3,830129,1443565
4,SYN_761980,33,15,0,512506,379563,0,20180831,20180803,20160214,...,1,1,4,3,1,40대,1429423,181,1682378,1221822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,SYN_947143,-3,0,0,0,0,0,20160605,10101,20140918,...,0,0,2,2,0,30대,0,93,0,0
2999996,SYN_2454885,1,0,0,64780,0,0,20180820,10101,10101,...,1,1,1,1,0,50대,104962,41,104962,137263
2999997,SYN_750099,10,0,0,242078,0,0,20180809,20170721,20180531,...,1,1,2,1,1,70대이상,722241,129,722241,1265710
2999998,SYN_1281070,12,0,0,153518,0,0,20180831,20140702,20170310,...,1,1,3,2,1,30대,1202431,44,1202431,286331
2999999,SYN_2250139,0,0,0,0,0,0,20161226,10101,20150611,...,0,0,0,0,0,60대,0,92,0,0

In [20]:
da

,발급회원번호,이용건수_일시불_B0M,이용건수_체크_B0M,이용건수_할부_B0M,이용금액_일시불_B0M,이용금액_체크_B0M,이용금액_할부_B0M,최종이용일자_일시불,최종이용일자_체크,최종이용일자_할부,...,최종탈회후경과월,탈회횟수_발급6개월이내,탈회횟수_발급1년이내,유효카드수_신용체크,유효카드수_신용,유효카드수_체크,마케팅동의여부,이용금액_R3M_신용체크,이용금액_R3M_신용,이용금액대
0,SYN_2416145,0,0,0,0,0,0,20180512,10101,10101,...,44,0,0,2,1,1,0,0,0,09.미사용
1,SYN_2715319,5,0,0,32028,0,0,20180705,10101,10101,...,0,0,0,1,1,0,0,273651,273651,05.10만원-
2,SYN_1238260,-1,0,0,0,0,0,20161108,20141123,20140617,...,0,0,0,3,1,2,1,0,0,09.미사용
3,SYN_2431230,16,0,0,692500,0,0,20180711,10101,20180323,...,45,0,0,1,1,0,1,3047195,3047195,02.50만원+
4,SYN_2281042,30,0,0,442490,0,0,20180706,10101,20180617,...,100,0,0,4,4,0,0,1867905,1867905,02.50만원+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,SYN_237031,37,25,0,658631,536084,0,20180707,20180731,20170711,...,0,0,0,4,2,2,1,5959890,4854558,01.100만원+
2999996,SYN_2457324,-2,30,0,0,617431,0,20180616,20180727,20170916,...,0,0,0,3,2,1,1,1910818,539434,05.10만원-
2999997,SYN_255242,6,53,0,190350,1137003,0,20180731,20180731,20171012,...,0,0,0,4,1,3,1,6628409,975085,04.10만원+
2999998,SYN_784617,-2,55,0,0,1246732,0,20180618,20180727,20180326,...,43,0,0,5,2,3,1,5285142,-117688,05.10만원-
2999999,SYN_27217,7,22,0,0,406624,0,20180714,20180731,20180520,...,0,0,0,4,1,3,1,3315838,2382728,01.100만원+

In [21]:
data = data[da.columns]

In [22]:
data

,발급회원번호,이용건수_일시불_B0M,이용건수_체크_B0M,이용건수_할부_B0M,이용금액_일시불_B0M,이용금액_체크_B0M,이용금액_할부_B0M,최종이용일자_일시불,최종이용일자_체크,최종이용일자_할부,...,최종탈회후경과월,탈회횟수_발급6개월이내,탈회횟수_발급1년이내,유효카드수_신용체크,유효카드수_신용,유효카드수_체크,마케팅동의여부,이용금액_R3M_신용체크,이용금액_R3M_신용,이용금액대
0,SYN_858566,3,0,0,0,0,0,20180820,10101,20151205,...,105,0,0,1,1,0,1,245624,245624,05.10만원-
1,SYN_2250434,7,0,0,328299,0,0,20180815,10101,20180714,...,46,0,0,1,1,0,1,1385660,1385660,03.30만원+
2,SYN_541274,2,0,0,191332,0,0,20180831,20180108,20151112,...,0,0,0,4,3,1,1,934207,778661,04.10만원+
3,SYN_222767,3,0,0,273905,0,0,20180831,20180114,10101,...,99,0,0,2,1,1,1,830129,738318,03.30만원+
4,SYN_761980,33,15,0,512506,379563,0,20180831,20180803,20160214,...,0,0,0,4,3,1,0,1682378,1429423,03.30만원+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,SYN_947143,-3,0,0,0,0,0,20160605,10101,20140918,...,0,0,0,2,2,0,0,0,0,09.미사용
2999996,SYN_2454885,1,0,0,64780,0,0,20180820,10101,10101,...,46,0,0,1,1,0,0,104962,104962,05.10만원-
2999997,SYN_750099,10,0,0,242078,0,0,20180809,20170721,20180531,...,0,0,0,2,1,1,1,722241,722241,03.30만원+
2999998,SYN_1281070,12,0,0,153518,0,0,20180831,20140702,20170310,...,0,0,0,3,2,1,1,1202431,1202431,04.10만원+
2999999,SYN_2250139,0,0,0,0,0,0,20161226,10101,20150611,...,0,0,0,0,0,0,1,0,0,09.미사용

In [23]:
data.to_csv("backend_data.csv", index=False)

In [24]:
data.columns

Index(['발급회원번호', '이용건수_일시불_B0M', '이용건수_체크_B0M', '이용건수_할부_B0M', '이용금액_일시불_B0M',
       '이용금액_체크_B0M', '이용금액_할부_B0M', '최종이용일자_일시불', '최종이용일자_체크', '최종이용일자_할부',
       '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_체크', '이용건수_일시불_R12M', '이용건수_할부_R12M',
       '이용건수_체크_R12M', '이용금액_일시불_R12M', '이용금액_할부_R12M', '이용금액_체크_R12M',
       '최대이용금액_일시불_R12M', '최대이용금액_할부_R12M', '최대이용금액_체크_R12M', '이용개월수_일시불_R12M',
       '이용개월수_할부_R12M', '이용개월수_체크_R12M', '이용건수_일시불_R6M', '이용건수_할부_R6M',
       '이용건수_체크_R6M', '이용금액_일시불_R6M', '이용금액_할부_R6M', '이용금액_체크_R6M',
       '이용개월수_일시불_R6M', '이용개월수_할부_R6M', '이용개월수_체크_R6M', '이용건수_일시불_R3M',
       '이용건수_할부_R3M', '이용건수_체크_R3M', '이용금액_일시불_R3M', '이용금액_할부_R3M',
       '이용금액_체크_R3M', '이용개월수_일시불_R3M', '이용개월수_할부_R3M', '이용개월수_체크_R3M',
       '이용금액_업종기준', 'VIP등급코드', '남녀구분코드', '연령', '회원여부_이용가능', '회원여부_이용가능_CA',
       '회원여부_이용가능_카드론', '입회경과개월수_신용', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내',
       '탈회횟수_발급1년이내', '유효카드수_신용체크', '유효카드수_신용', '유효카드수_체크', '마케팅동의여부',
       '이용금액_R3M_신용체크', '이용금액_R3M_신용', '이용금액대'],
      dtype='object')

In [25]:
da.columns

Index(['발급회원번호', '이용건수_일시불_B0M', '이용건수_체크_B0M', '이용건수_할부_B0M', '이용금액_일시불_B0M',
       '이용금액_체크_B0M', '이용금액_할부_B0M', '최종이용일자_일시불', '최종이용일자_체크', '최종이용일자_할부',
       '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_체크', '이용건수_일시불_R12M', '이용건수_할부_R12M',
       '이용건수_체크_R12M', '이용금액_일시불_R12M', '이용금액_할부_R12M', '이용금액_체크_R12M',
       '최대이용금액_일시불_R12M', '최대이용금액_할부_R12M', '최대이용금액_체크_R12M', '이용개월수_일시불_R12M',
       '이용개월수_할부_R12M', '이용개월수_체크_R12M', '이용건수_일시불_R6M', '이용건수_할부_R6M',
       '이용건수_체크_R6M', '이용금액_일시불_R6M', '이용금액_할부_R6M', '이용금액_체크_R6M',
       '이용개월수_일시불_R6M', '이용개월수_할부_R6M', '이용개월수_체크_R6M', '이용건수_일시불_R3M',
       '이용건수_할부_R3M', '이용건수_체크_R3M', '이용금액_일시불_R3M', '이용금액_할부_R3M',
       '이용금액_체크_R3M', '이용개월수_일시불_R3M', '이용개월수_할부_R3M', '이용개월수_체크_R3M',
       '이용금액_업종기준', 'VIP등급코드', '남녀구분코드', '연령', '회원여부_이용가능', '회원여부_이용가능_CA',
       '회원여부_이용가능_카드론', '입회경과개월수_신용', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내',
       '탈회횟수_발급1년이내', '유효카드수_신용체크', '유효카드수_신용', '유효카드수_체크', '마케팅동의여부',
       '이용금액_R3M_신용체크', '이용금액_R3M_신용', '이용금액대'],
      dtype='object')